<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SPDConnectionString1" value="Data Source=sera15020;Initial Catalog=SPDDev;Persist Security Info=True;User ID=espduser;Password=espd15020;Application Name=spdnew"/>
   
    <!-- <add key="SPDConnectionString1" value="Data Source=trac94;Initial Catalog=SPD;Persist Security Info=True;User ID=sa;Password=@dm1n1strator;Application Name=spdnew"/>-->
   <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
  </appSettings>
<connectionStrings>
    <add name="SPDConnectionString" connectionString="Data Source=sera15020;Initial Catalog=SPD;User ID=espduser;Password=espd15020;Integrated Security=false;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDDevConnectionString" connectionString="Data Source=sera15020;Initial Catalog=SPD;User ID=espduser;Password=espd15020;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDDevConnectionString1" connectionString="Data Source=sera15020;Initial Catalog=SPD;Persist Security Info=True;User ID=espduser;Password=espd15020;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDConnectionString1" connectionString="Data Source=sera15020;Initial Catalog=SPD;Persist Security Info=True;User ID=espduser;Password=espd15020;Application Name=spdnew"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- <connectionStrings> 
    <add name="SPDConnectionString" connectionString="Data Source=trac94;Initial Catalog=SPD;User ID=sa;Password=@dm1n1strator;Integrated Security=false;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDDevConnectionString" connectionString="Data Source=trac94;Initial Catalog=SPD;User ID=sa;Password=@dm1n1strator;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDDevConnectionString1" connectionString="Data Source=trac94;Initial Catalog=SPD;Persist Security Info=True;User ID=sa;Password=@dm1n1strator;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDConnectionString1" connectionString="Data Source=trac94;Initial Catalog=SPD;Persist Security Info=True;User ID=sa;Password=@dm1n1strator;Application Name=spdnew"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SPDConnectionString" connectionString="Data Source=.;Initial Catalog=SPDDevNew;User ID=sa;Password=admin123;Integrated Security=false;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDDevConnectionString" connectionString="Data Source=.;Initial Catalog=SPDDevNew;User ID=sa;Password=admin123;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDDevConnectionString1" connectionString="Data Source=.;Initial Catalog=SPDDevNew;Persist Security Info=True;User ID=sa;Password=admin123;application name=spdnew"
      providerName="System.Data.SqlClient" />
    <add name="SPDConnectionString1" connectionString="Data Source=.;Initial Catalog=SPDDevNew;Persist Security Info=True;User ID=sa;Password=admin123;Application Name=spdnew"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/FormError.aspx">
    </customErrors>
    <globalization culture="en-US" uiCulture="en-US" />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.RichEdit.v14.1.Core, Version=14.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" maintainScrollPositionOnPostBack="true" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System.Web.Routing" />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes" />
        <add tagPrefix="CodeOnTime" namespace="CodeOnTime.Web" assembly="CodeOnTime" />
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajax" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
        <add tagPrefix="Anwar" namespace="Anwar.Portal.Web.UI.WebControls" assembly="Anwar.Portal" />
        <add tagPrefix="Anwar" namespace="Anwar.ExtJsCodeOnTime" assembly="Anwar.ExtJsCodeOnTime" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="TRAC" tagName="EventTracking" src="~/Carmello.Core/CustomControls/EventTracking.cs" />
        <add tagPrefix="TRAC" tagName="EventTrackingDay" src="~/Carmello.Core/CustomControls/EventTrackingDay.cs" />
        <add tagPrefix="TRAC" tagName="GroupTimeEventItem" src="~/Carmello.Core/CustomControls/GroupTimeEventItem.cs" />
        <add tagPrefix="TRAC" tagName="TimeEvent" src="~/Carmello.Core/CustomControls/TimeEvent.cs" />
        <add tagPrefix="TRAC" tagName="TimeEventItem" src="~/Carmello.Core/CustomControls/TimeEventItem.cs" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="email.spd@sera.astra.co.id">
        <network host="10.10.11.125" port="25" defaultCredentials="true" />
      </smtp>
      <!--<smtp from="iansuryana@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="iansuryana@gmail.com" password="" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=8" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" doctypeMode="Xhtml" embedRequiredClientLibraries="false" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>